body {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.section-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  overflow: visible;
}

.parallax-bg {
  position: absolute;
  right: -5%;
  top: 0;
  width: 200%;
  height: 200%;
  background-image: url("https://images.unsplash.com/photo-1647892591711-f310c2a3ab7c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  padding: 10px;
  margin: 0;
  cursor: grab;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
